%h3 Hire Dave! He can...
%ul
  %li Brainstorm
  %li Talk strategy
  %li Sketch wireframes
  %li Develop systems
  %li Create work flows
  %li Design logos
  %li Build web apps
  %li Analyze financials
  %li Manage teams

%h4=link_to "See services", services_path