<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hireDave.me" data-text="Hey Dave! I need some help. Let's talk! / @hire_dave"  data-count="none">@hire_Dave</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- <a href="https://twitter.com/intent/tweet?screen_name=hire_dave&text=Hey%20Dave%2C%20I%20need%20some%20help.%20Let's%20talk!%20/%20www.hireDave.me">@hire_dave</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->