%nav
  .logo
    =link_to image_tag('logo.png'), root_path
  .nav
    %ul
      %li= link_to 'services', services_path
      %li= link_to 'notes', 'http://dave.woodalls.me', target: '_blank'
      %li= link_to 'contact Dave', contact_path
