%header
  %h1 The ABC's (Art & Business && Code)
%section.content.services
  .left-bar
    .hero
      %h1 How to start a business
      %h3 Category: Business
    .overview
      %p Let me help build your business by doing whatever needs to get it done. My primary skills are related to Design, Code, and Business Development.

    .code
      %h2 Code
      .grid-row
        %h3#web-apps Web apps
        =link_to "top", "#"

        %h4
          Front End & Rails Developer for
          =link_to "InvitedHome", "http://www.invitedHome.com"
        %h4
          Full Stack Developer for
          =link_to "ScreenPrintly", "http://www.ScreenPrintly.com"
          =link_to "View the source code", "http://www.github.com/woodall/screenprintly"




  .right-bar
    %h3 Tags
    %ul
      %li= link_to "This is the name of a recent post"

