%header
  %h1 Let's see if we're on the same page
%section.content.services
  .left-bar
    = render 'questionnaire'

  .right-bar
    %h3 FAQ's
    %p Will you work for equity?
    %p.answer Depends on the situation.

