%header
  %h1 Part-time technical Co-founder for hire
%section.content
  .left-bar
    .hero
      = image_tag "des_biz_code.png"
      %h1 Design, Business, Code
    .copy
      %h4 Ideas and action
      %p Dear entrepreneur,
      %p I started helping companies with design, strategy, and coding after I sold my business.
      %p I enjoy seeing the big picture, brainstorming ideas, and delivering solutions.
      %p I'd love to help grow your company!
      .signature= image_tag "signature.png"
  .right-bar
    .me= image_tag "me.jpg"
    %h2 More than a freelancer
    %p Tired of dealing with multiple people to get something done?

    %h3 Hire Dave! He can...
    %ul
      %li Sketch wireframes
      %li Design logos
      %li Build web apps
      %li Analyze financials
      %li Develop systems
      %li Create work flows
      %li Manage teams
      %li Brainstorm
      %li Talk strategy

    %h4=link_to "See services", services_path
