%header
  %h1 More than ideas
%section.content.services
  .left-bar
    .hero
      %h1 Services
    .overview
      %p Let me help build your business by doing whatever needs to get it done. My primary skills are related to Design, Code, and Business Development.
      .link-section
        %h2 Design
        %ul
          %li
            %a{ href: "#logos"} Logos
          %li
            %a{ href: "#web-design"} Web Design
          %li
            %a{ href: "#product-development"} Product Development
      .link-section
        %h2 Business
        %ul
          %li
            %a{ href: "#marketing"} Marketing
          %li
            %a{ href: "#innovation"} Innovation
          %li
            %a{ href: "#strategy"} Strategy
      .link-section
        %h2 Code
        %ul
          %li
            %a{ href: "#web-apps"} Web Apps
      .link-section
        %h2 Instructor
        %ul
          %li
            %a{ href: "#web-camp"} Boulder Web Camp

    .art
      %h2 Design
      %p I think of design as a combination of colors, texture, fonts, that work to create an emotion.
      .logos.grid-row
        %h3#logos Logos
        =link_to "top", "#"
        =image_tag "bird.jpg"
        =image_tag "cats.jpg"
        =image_tag "inculcate.jpg"
        =image_tag "ruby.jpg"
      .web-design.grid-row
        %h3#web-design Web design
        =link_to "top", "#"
        =image_tag 'amb3r.jpg'
        =image_tag 'codejournal.jpg'
        =image_tag 'logan.jpg'
        =image_tag 'paperwhite.jpg'
      .grid-row
        %h3#product-development Product Development
        =link_to "top", "#"
        =image_tag 'mtn.jpg'
        =image_tag 'sales.jpg'
        =image_tag 'crocs.jpg'
        =image_tag 'johnny.jpg'
    .business
      %h2 Business
      .grid-row
        %h3#marketing Marketing
        =link_to "top", "#"
        =image_tag 'Blast.gif'
        =image_tag 'IL.gif'
        =image_tag 'foil.gif'
        =image_tag 'SSP.gif'
      .full-row
        %h3#innovation Innovation
        =link_to "top", "#"
        =image_tag 'kids.jpg'
        =image_tag 'catmathdo.jpg'
      .full-row
        %h3#strategy Strategy
        =link_to "top", "#"
        =image_tag 'black_box.jpg'
        %h4 High-level discussions of how to increase profits
        =image_tag 'strategy.jpg'
        %h4 Identifying opportunities to add value
        =image_tag 'operations.jpg'
        %h4 Improving systems from concept to consumer

    .code
      %h2 Code
      .grid-row
        %h3#web-apps Web apps
        =link_to "top", "#"

        %h4
          Front End & Rails Developer for
          =link_to "InvitedHome", "http://www.invitedHome.com"
        %h4
          Full Stack Developer for
          =link_to "ScreenPrintly", "http://www.ScreenPrintly.com"
          =link_to "View the source code", "http://www.github.com/woodall/screenprintly"

    .web-camp
      %h2 Instructor
      =link_to "top", "#"
      .full-row
        %h3#web-camp Boulder Web Camp
        = image_tag "webcamp.png"
        %h4
          I teach an Intro to HTML & CSS class at
          =link_to "Boulder Web Camp", "http://www.boulderwebcamp.com"



  .right-bar
    %h3 Resume
    %ul
      %li
        View on
        = link_to "LinkedIn", "http://www.linkedin.com/in/davewoodall"

    %h3 Education
    %ul
      %li
        MS Finance, Corp. Finance
        <br>University of Denver
      %li
        BS Communications, Advertising & PR
        <br>Liberty University
      %li
        Web App Training
        <br>Starter League

    %h3 Software & Tools
    %ul
      %li Adobe Photoshop
      %li Adobe Illustrator
      %li Ruby on Rails
      %li HTML5 / HAML
      %li CSS3 / SCSS
      %li JQuery
      %li git / github
      %li Basecamp
      %li Trello
      %li MS Office
      %li iWork
      %li Google Docs
      %li Google Adwords

    %h3 Dave has been called
    %ul
      %li Web Developer
      %li Web Designer
      %li Graphic Designer
      %li Sales Rep
      %li Sales Manager
      %li Finance Director
      %li Marketing Director
      %li CEO
      %li COO
