.resume{

}
.answer{
  font-style: italic;
}
.hero{
  width: 100%;
  img{
    width: 70%;
    margin-left: 15%;
  }
  h1{
    color: $light-grey;
    font-size: 3em;
    text-align: center;
    padding: 3%;
 }
}


.me{
    width: 30%;
    @include span-columns(4);
    img{
      width: 100%;
      border-radius: 90px;
      box-shadow: 1px 1px 5px $grey;
  }
}

.copy{
  @include span-columns(8);
  @include transform( rotate(3deg));
  margin: 5% 0 1% 18%;
  background: white;
  padding: 4%;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.signature{
  width: 100%;

  img{
    width: 40%;
    margin-left: 50%;
  }
}

.grid-row{
  @include row();
  @include clearfix();
  img{
    @include span-columns(5.5);
    margin: 2%;
    border: 6px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }
  a{ display: block; }

}

.caption{
    p{
    background: $tanner;
    padding: 3% !important;
    margin: 3% 4.5% 2% 2%;
    font-style: italic;
    font-size: .9em;
    }
     a{
      color: $grey;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
}


.grid-small{
  @include row();
  img{
    @include span-columns(3.6);
    border: 6px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    margin: 2%;
  }
  a{ display: block; }
 }

.full-row{
  @include row();
  img{
    @include span-columns(11.2);

    margin: 2%;
    border: 6px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }
  a{ display: block; }
}



.services{
  h2{
    border-top: 1px dashed $light-grey;
    font-size: 3em;
    margin: 3% 1%;
  }
  h3{
    font-size: 2em;
    margin: 2% 0 1% 0;
  }
}

.overview{
  background: white;
  padding: 3% 2% 1%;
  margin: 0 1% 5%;
  h2 {
    font-size: 1.2em;
    border-top: none;
  }
  li{
    list-style: none;
  }
  a{
    font-size: .9em;
    color: $burnt;
  }
  @include row();
  .link-section{
    @include span-columns(3);
  }
}



.web-camp{
  .full-row{
    img{
      @include span-columns(11.5);
    }
  }
}

// BLOG related module

.post-title{
  width: 100%;
  a{
    font-family: $sans-cond;
    font-size: 2em;
    color: $grey;
    background: $tanner;
    padding: 0 6%;
    display: block;
    &:hover{
      @include transition (all 70ms ease-in-out);
      background: $orange;
      color: white;
    }
  }
  padding: 0 0 0 1%;
  margin-left: 1%;
}

.post-tag{
  font-family: $sans-web;
  font-size: .9em;
  padding: 2%;
  margin: 0 3% 0 0;
  color: $grey;
}

.post-list{
  h2{
    padding: 0;
    font-size: 3em;
  }
}


.blog-body{
  background: white;
  margin: 3%;
  padding: 3%;
  overflow: auto;
  h2{
    font-weight: 600;
    font-size: 1.5em;
  }
  .signature img{
    width: 30%;
    float: right;
    padding: 5%;
    margin-right: 5%;
  }
  code, p {
    padding: 5%;
  }
}

.tags{
  margin: 3%;
}


.notes{
  padding: 2%;
  h3{
    text-align: center;
  }
}

















