$grey: #414141;
$light-grey: #686964;
$teal: #7ac3b4;
$emerald: #437269;
$tan: #e7e5d7;
$stone: #a6a59d;
$orange: #ef5f3b;
$peach: #faa357;
$burnt: #793221;

$serif: "adelle", serif;
$sans-web: "pragmatica-web",sans-serif;
$sans-cond: "pragmatica-web-condensed";
