/* Typefaces */
/* You had these repeated throughout the stylesheet.
   Moved them into Sass variables so that it could
   be better managed */
$typeface-serif: 'Rokkitt', serif;
$typeface-sans: 'Titillium Web', sans-serif;


html body{
  /* Render fonts better on Webkit */
  -webkit-font-smoothing: antialiased !important;
  /* For IE */
  padding-left: 0;
  padding-right: 0;
}

body{
  background-image: url("grid.jpg");
  /* Give all page type a little more definition */
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}


/* Contact is in application.html */
.contact{
  ul{
    text-align: right;
  }
  li{
    text-decoration: none;
    list-style: none;
    display: inline;
  }
  font-family: $typeface-sans;
  padding: 1.5% 3%;
  font-size: 1.3em;
  opacity: .7;
  a{
    text-decoration: none;
    /* The blue stood out weird, let the
       links inherit <li> color instead */
    color: inherit;
  }
  &:hover{
    opacity: 1;
  }
}


p.date{
  font-family: $typeface-serif;
  font-size: 1.6em;
  width: 25%;
  margin: 2% auto 1%;
}

p.status{
  color: red;
  font-size: 2.2em;
  font-family: $typeface-serif;
  /* Let's give the status a bit of emphasis */
  font-style: italic;
}

.container-fluid{
  padding: 0 2%;
  margin: 0;
  width: 80%;
  margin: auto;
  border: 12px solid white;
  /* Soften the shadow, and use a Bourbon
     mixin so that it adds vendor prefixes */
  @include box-shadow(1px 1px 5px rgba(0,0,0, 0.25));

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

  /* This Bourbon mixin will take care of all the vendor
     prefixes, and automatically adds a fallback of the
     first color for older browsers */
  @include linear-gradient(top, #EEEEEE, #CCCCCC);

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}

h1 {
  font-family: $typeface-serif;
}

nav.links {
  float: right;
  font-family: $typeface-sans;
  font-size: 1.3em;
  ul {
  list-style:none;
  margin-top: 15px;
  }
  li{
    display: inline;
    color: #707070;
  }
  a{
    text-decoration: none;
  }
}

.work-status{
  text-align: center;

}


.overview {
  position: relative;
  img{
  position: absolute;
  left: -5%;
  max-width: 200px;
  top: -100%;
  float: left;
  width: 20%;

  border: 8px solid white;
  box-shadow: 0px 1px 9px gray;
  /* Moved 5 lines into 1 Bourbon mixin */
  @include transform( scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) );
  }
  h1{
    font-family: $typeface-serif;
    float:left;
    margin-left: 25%;
    font-size: 4em;
    letter-spacing: 1px;
  }
  h2{
    font-family: $typeface-sans;
    font-weight: 600;
    float: left;
    font-size: 1.5em;
    padding: 0.5% 0 0 2%;
  }

}

.bio.row-fluid{
  border-bottom: 1px solid #CCC;
  p{
     font-family: $typeface-sans;
     font-size: 1.2em;
     line-height: 1.4em;
     margin-left: 40%;
     width: 75%;
  }
}


/* Removed the button, since the Bootstrap .btn class
   takes care of all that styling. Added a top-left
   shadow for a letterpress feel. Fixed hover color */
a.hire-me{
  color: white;
  font-family: $typeface-serif;
  font-size: 2em;
  text-shadow: -1px -1px 1px rgba(0,0,0, 0.4);
  letter-spacing: 2px;
  &:hover{
     text-decoration: none;
     color: #F3F3F3;
  }
}

.btn:first-child{
    padding: 7% 15%;
    margin-bottom: 5%;
}

.work-interests{
    font-family: $typeface-sans;
}

/* Standardized the padding on the .next & .merit
   <sections> so they properly align to the same grid */
.merits{
  /* Altered the border coloring */
  font-family: $typeface-sans;
  padding: 1em 0;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #C4C4C4;
  font-size: 1.1em;
}

section.next{
  padding: 1em 0;
  border-top: 1px solid #EEE;
}

.tools h2{
  font-size: 1.2em;
  margin-bottom: -10px;
  margin-top: -10px;
}

/*------Resume-----------*/

.res-title{
  .resume-logo{
    float: left;
    margin-top: 25px;
  }
  h1{
    border-bottom: 2px solid #707070;
    margin-bottom: -5px;
  }
  h2{
    font-family: $typeface-serif;
    font-size: 1.5em;
    float: left;
    padding-right: 10px;
    margin-bottom: -20px;
  }
  h3{
    font-family: $typeface-sans;
    font-weight: 300;
    font-size: 1.2em;
  }
  h4{
    font-family: $typeface-sans;
    font-weight: 500;
    font-size: 1.2em;
  }
}

section.dynamic-slide{
   section{
    display:none;
    margin-left: 25%;
    margin-bottom: 5%;
  }
}


/*------ Portfolio -----------*/

.websites{
  h1{
    border-bottom: 2px solid #707070;
    margin-bottom: -5px;
  }
  border: 8px solid white;
  box-shadow: 0px 1px 5px gray;
  width: 95%;
  margin: 3% 0 ;

}
footer {
  h1{
  font-family: $typeface-serif;
  }
  h2{
  font-family: $typeface-serif;

    margin: 0 0 0 3%;
    font-size: 1.5em;

  }
  p{
    font-family: "museo",serif;
  }

}


.legal{
  text-align: center;
  padding: 1%;
  font-family: $typeface-sans;
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}

/*-----------------------------------------
Media Queries
-------------------------------------------*/

@media screen and (max-width: 800px) {
  body {
    font-size: 100%;
  }
  nav.links{
    display: none;

  }
  p.date{
    display: none;
  }
  p.status{
    display: none;
  }
    .bio.row-fluid{
    p{
     margin-left: 0%;
     width: 100%;
     float: none;
    }
  }
  .overview {
    img{
    display: none;
    }
    h1{
      margin-left: 0%;
      float:none;
      font-size: 3em;
    }
    h2{
      font-family: $typeface-sans;
      font-weight: 600;
      float: none;
      font-size: 1.5em;
    }
  }


  .bio.row-fluid, .merits.row-fluid, .next.row-fluid{
    .span3, .span4, .span5, .span6 {
    width: 100%;
   }
  }
}












